name: Test/Build/Push to GHCR

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write
  pull-requests: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
